<div class="container">
  <h1>{{viewTitle}}</h1>
  <div class="row">
    <form action="/adminUser/login" method="POST" class="col s12">
      <div class="row">
    <div class="row">
        <div class="input-field col s12">
          <input name="user_email"  id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="user_password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
     
        <div class="form-group">
        <button type="submit" class="btn btn-info">
            <i class="material-icons left">insert_chart</i>Submit</button>
      </div>
  </div>
  </form>
</div>
</div>