<h1>Ajouter des images</h1>

<div class="container">
    <h2>File upload</h2>
   {{msg}}    
    <form action="upload" method="POST" enctype="multipart/form-data">
    <div class="file-field input-field">
      <div class="btn grey">
        <span>File</span>
        <input name="image" type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <button type="submit" class="btn">Submit</button>
  </form>
    <br>
    <img src="/{{file.path}}" value="link" class="img-responsive">
</div>