  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Cel'Tic</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Contact</a></li>
          <li><a href="/article">Connexion</a></li>
        </ul>
      </div>
    </nav>
  </div>
        
 