<h3>{{category.name}}</h3>

<div class="row">
    <div class="col s12">

        <div class="card">
            <input type="hidden" name="_id" value="{{category._id}}">
           
            <div class="card-content">
                <p name="description" >
            {{category.description}}</p>
            </div>

        </div>
    </div>