<div class="container">
  <h1>{{viewTitle}}</h1>

<li><a href="/adminArticle/addOrEditArticle">Créer un nouvel article</a></li>
<li><a href="/adminCategory/addOrEdit">Créer une nouvelle catégorie</a></li>
<li><a href="/picture/addPicture">Ajouter une nouvelle image</a></li>

</div>